{% extends 'ajax_app/base.html' %}
{% load static %}

{% block content %}
    <h1 class="display-4">{{ logo }}</h1>
    <p class="lead font-italic">Crud Operation Project</p>
    <hr class="my-4">

    <table class="table table-borderless table-hover">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Phone</th>
                <th>Subject</th>
                <th>
                    <a href="{% url 'trainer_create' %}" class="btn btn-outline-primary"> 
                        <i class="fas fa-user-plus"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    {% include 'ajax_app/modal_trainer_delete.html'%}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'ajax_app/js/trainerList.js' %}"></script>
{% endblock %}